@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TZ';
  src: url('../fonts/tz.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* { font-family: Lato, TZ; vertical-align: middle; line-height: 1rem; }
.btn-sm { line-height: 1rem; }
div.block { margin: 8px; background: #f8f8f8; padding: 16px; max-width: 800px; }
div.block-title { font-size: 12px; color: #888;}